body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img { margin:0; padding:0;} 
body, button, input, select, textarea, { font:12px/1.5tahoma, "微软雅黑", \5b8b\4f53; }
ul,li,ol,a,h1, h2, h3, h4, h5, h6,span,input,p,div {font-family: "微软雅黑";color: #666666;outline: none;}
 h1, h2, h3, h4, h5, h6{ font-size:100%; } 
}
img {
    border: 0 none;
}
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:"微软雅黑", courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }